<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<%- include("./partials/nav.ejs") %>

		<main role="main" class="container">
			<div class="my-3 p-3 bg-white rounded shadow-sm">
				<center>
				<!-- Display name -->
				<h2><%= displayName %></h2>
				<h3>Your Taddle number: <%= googleId %></h3>

				<!-- Logout button -->
				<a class="btn btn-dark" href="/auth/logout" role="button">Logout</a>
				</center>
			</div>
		</main>

		<%- include("./partials/footer.ejs") %>
	</body>
</html>
