<!DOCTYPE html>
<html lang="en">
	<%- include("../partials/head.ejs") %>

	<body>
		<%- include("../partials/nav.ejs") %>

		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<!-- Title -->
					<div class="pricing-header py-3 pt-md-5 pb-md-4 mx-auto">
						<h1 class="display-4">Add post</h1>
					</div>

					<form action="/new/contact" method="POST">

						<div class="form-group has-error">
							<label for="contactGoogleId">Contact id</label>
							<input
								type="text"
								class="form-control"
								name="contactGoogleId"
								id="contactGoogleId"
								required
							/>
						</div>

						<input type = "hidden" name = "contactDisplayName" id="contactDisplayName" value="null" />
						<input type = "hidden" name = "userGoogleId" id="userGoogleId" value="<%= googleId %>" />
						<input type = "hidden" name = "userDisplayName" id="userDisplayName" value="<%= displayName %>" />


						<!-- Create and cancel button -->
						<div class="form-group">
							<!-- <button type="submit" class="btn btn-primary">Submit</button>
							<button class="btn btn-default">Cancel</button> -->

							<button class="btn btn-dark">Submit</button>
							<button class="btn btn-light">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<%- include("../partials/footer.ejs") %>
	</body>
</html>
