<html lang="en">
	<%- include("../partials/head.ejs") %>



	<body>
		<%- include("../partials/nav.ejs") %>



		<main role="main" class="container">
			<h1><%= contactName %></h1>

			<%- include("../partials/addmessage.ejs") %>


			<div class="my-3 p-3 bg-white rounded shadow-sm">
				<% if (posts.length > 0) { %> <% posts.forEach(post => { %>
					<% if(googleId === post.posterId) { %> 
						<div class="user_div">
							<p class="user_message">
								<%= post.message %>
								<br />
							</p>
						</div>
					<% } else { %>
						<div class="contact_div">
							<p class="contact_message">
								<%= post.message %>
								<br />
							</p>
						</div>
					<% } %>
				<% }) %> <% } else { %>
					<p>Send a message to start the conversation...</p>
				<% } %>
			</div>

		</main>

	</body>
</html>
